*
!.gitignore
!hints
!.bin/
!.bin/*
!.config/
!.config/hypr/
!.config/hypr/*
!.config/kitty/
!.config/kitty/*
!.vimrc
!.config/rofi/
!.config/rofi/*
!.local/
!.local/share/
!.local/share/*
!.local/share/rofi/themes/
!.local/share/rofi/themes/*
!Pictures/
!Pictures/gf.jpg

