*
!.gitignore
!hints
!.bin/
!.bin/*
!.config/
!.config/niri
!.config/niri/**
!.config/alacritty
!.config/alacritty/**
!.config/hypr/
!.config/hypr/*
!.config/kitty/
!.config/kitty/*
!.config/waybar/
!.config/waybar/**
!.config/fastfetch/
!.config/fastfetch/*
!.vimrc
!.config/rofi/
!.config/rofi/*
!.local/
!.local/share/
#!.local/share/*
!.local/share/rofi/themes/
!.local/share/rofi/themes/*
!Pictures/
!Pictures/gf.jpg
